@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.slider-area{
  margin: 30px auto;
  width: 800px;
}
.swiper {
    width: 100%;
    height: 100%;
  }
  .slider-area .swiper-slide img{
    width: 100%;
  }
  .single-slide{
    position: relative;
  }
  .single-slide h2{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: brown;
  }
  .slider-area .swiper-wrapper{
    padding-bottom: 55px;
  }
  .slider-area .slider-wrapper{
    bottom: -80px;
  }
  .slider-area .swiper-button-next, 
  .slider-area .swiper-button-prev{
    top: 96%;
  }
  .slider-area .swiper-scrollbar{
    bottom: 25px;
  }
  .slider-area .swiper-button-next, 
  .swiper-button-prev{
    height: 40px;
    width: 40px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    z-index: 99;
  }
  .slider-area .swiper-button-next:after, 
  .swiper-button-prev:after{
  font-size: 18px;
  color: #333;
  }
  .slider-area .swiper-button-disabled{
    display: none;
  }
 
  .review-area{
    width: 800px;
    margin: 30px auto;
  }
  .review-area .swiper-slide img{
    width: 100%;
  }
  .review-area.single-slide{
    position: relative;
  }
  .review-area.single-slide h2{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: brown;
  }
  .review-area .swiper-wrapper{
    padding-bottom: 75px;
  }
  .review-area .slider-wrapper{
    bottom: -80px;
  }
  .review-area .swiper-button-next, 
  .review-area .swiper-button-prev{
    top: 90%;
  }
  .review-area .swiper-scrollbar{
    bottom: 25px;
  }
  .review-area .swiper-button-next, 
  .swiper-button-prev{
    height: 40px;
    width: 40px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    z-index: 99;
  }
  .review-area .swiper-button-next:after, 
  .swiper-button-prev:after{
  font-size: 18px;
  color: #333;
  }
  .review-area .swiper-button-disabled{
    display: none;
  }
  .review-slide{
    padding-left: 80px;
    position: relative;
  }
  .review-slide::after{
    position: absolute;
    content: "\f10d";
    height: 20px;
    width: 20px;
    font-size: 40px;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    top: 0;
    left: 0;
  }
  .review-slide h2{
    font-size: 32px;
  }
  .review-slide h4{
    font-size: 20px;
    margin: 20px 0;
    color: #999;
  }
  .review-slide p{
    font-size: 18px;
    margin-top: 20px;
  }

  @media only screen and (max-width:991px) {
    .slider-area{
      width: 100%;
    }
    .slider-area .swiper-scrollbar{
      bottom: 20px;
    }
    .slider-area .swiper-button-next{
      top: 98%;
    }
    .slider-area .swiper-button-prev{
      top: 98%;
    }
    .review-area{
      width: 100%;
    }

  }